<!-- domanda crocette
<div class="row" *ngIf="question.type=='crocette'">
    <div class="col">
      <label for="exampleInputEmail1">
        <li>{{question.questionText}}</li>
      </label>
      <div class="form-check" *ngFor="let answer of splitted">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">
            {{answer}}
        </label>
      </div>
    </div>
  </div> -->
<!--vero falso-->
<!-- <div class="row" *ngIf="question.type=='vf'">
    <div class="col">
      <label for="exampleInputEmail1">
        <li>{{question.questionText}}</li>
      </label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true">
        <label class="form-check-label" for="exampleRadios1">
          Vero
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="false">
        <label class="form-check-label" for="exampleRadios2">
          Falso
        </label>
      </div>
    </div>
  </div> -->
  <!--aperta-->
  <!-- <div class="row" *ngIf="question.type=='aperta'">
    <div class="col">
      <div class="form-group">
        <label for="exampleInputEmail1">
          <li>{{question.questionText}}</li>
        </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    </div>
  </div> -->