<!-- FYI — THE DATA IN THIS TABLE IS FAKE!!! -->
<div class="content">
    <h1>Per trovare le impostazioni</h1>
   
    <table id="data-table">
      <thead>
        <tr>
          <th title="Field #1">SERVIZIO</th>
          <th title="Field #2">SMTP SERVER</th>
          <th title="Field #3">PORTA</th>
          <th title="Field #4">INFO AGGIUNTIVE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GMAIL</td>
          <td>smtp.gmail.com</td>
          <td>587</td>
          <td><a href="https://myaccount.google.com/lesssecureapps?pli=1&rapt=AEjHL4PutZr2bI1FyPDea7KIS3LwwQarH8zYylqCBe3kuWkVK0zg4-3mmGtDNCGBg6Ib1AwPnCQBMnAWfdhI8XVkHIqWkdNaXw">consentire accesso qua</a></td>
        </tr>
        <tr>
          <td>YAHOO</td>
          <td>smtp.mail.yahoo.it</td>
          <td>25/465</td>
          <td>coming soon</td>
        </tr>
        <tr>
            <td>HOTMAIL</td>
            <td>smtp.live.com</td>
            <td>25/465</td>
            <td>coming soon</td>
        </tr>
        <tr>
            <td>OUTLOOK</td>
            <td>smtp.office365.com</td>
            <td>587</td>
            <td>coming soon</td>
        </tr>
        <tr>
            <td>LIVE</td>
            <td>smtp.live.com</td>
            <td>25/465</td>
            <td>coming soon</td>
        </tr>
        <tr>
            <td>TISCALI</td>
            <td>smtp.tiscali.it</td>
            <td>465</td>
            <td>coming soon</td>
        </tr>
        
      </tbody>
    </table>
    <br>
    <button routerLink="/mail">Torna indietro</button>
  </div>