.contorno {
    border: 5px solid black;
    margin: auto;
    //width: 60%;
    //margin-top: 0;
  }
  
  /* just aesthetics */
  .titolo {
    margin-top: 10%;
  }
  
  .container {
  
    margin-bottom: 1%;
  }
  
  .element {
  
    //margin-top: 5%;
    //margin-bottom: 13%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 80%;
    background: rgb(248, 249, 250);
  }
  
  .spazio {
    margin-bottom: 5%;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  