
<div>
  <h1 class="testo"> Risultato finale della prova</h1>
</div>

<div class="grid-container">
  
  <div></div><div></div><div></div>
  
  <div>
    Risultato aritmetico:
  </div>
  
  <div></div>
  <div>{{candidate.arithmeticScore}}%</div>
 
 
  <div>
    Risultato ponderato:
  </div>
  
  <div></div>
  <div>{{candidate.weightedScore}}%</div>
 
 
  <div>Domande corrette</div>
 
  <div></div>
  <div>{{candidate.ncorrectAnswer}}/{{nQuestion}}</div>
  
 
  <div>Tempo impiegato:</div>
  <div></div>
  <div>{{candidate.time}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal"
    routerlink="/confema-dati">Esci</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal"
    >Esporta</button>
</div>
