.grid-container {
  border-radius: 1%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1%;
  background-color: rgb(248, 249, 250);
  padding: 1%;
  width: 60%;
  height: 75%;
  min-height: 50%;
  margin: 0 auto;
  font-family: "Arial Black", Gadget, sans-serif;
}

.punteggio{
  text-align: right;
}

.testo {
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

.container {
  background-color: rgb(248, 249, 250);
  margin-top: 5%;
  margin-bottom: 4%;
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}

.prova{
  display: block;
  margin: 0 auto; 
  width: 170px;
}
#table{
  height: 75%;
}
