<div class="grid-container">
  <div></div>
  <div>
    <h1 class="testo"> Risultato finale della prova</h1>
  </div>
  <div></div>
  <div></div>
  <div>
    <p> Risultato aritmetico:</p>
  </div>
  <div></div>
  <div></div>
  <div>{{candidate.arithmeticScore}}%</div>
  <div></div>
  <div></div>
  <div>
    <p> Risultato ponderato:</p>
  </div>
  <div></div>
  <div></div>
  <div>{{candidate.weightedScore}}%</div>
  <div></div>
  <div></div>
  <div>Domande corrette</div>
  <div></div>
  <div></div>
  <div>{{candidate.ncorrectAnswer}}/{{nQuestion}}</div>
  <div></div>
</div>