<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<form [formGroup]="candidateForm" (ngSubmit)="goCandidate()">
  <!--FORM NOME & COGNOME --------------------------------------------->
  <div class="container">
    <label class="dati"><b>Inserisci dati anagrafici:</b></label>
    <div class="row">

      <div class="col" style="text-align: left;">
        <div class="form-group">
          <label for="exampleFormControlInput1">Nome:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome"
            formControlName="name" (keypress)="keyPressAlpha($event)">
          <span *ngIf="candidateForm.get('name').touched && candidateForm.get('name').hasError('required')">Enter
            name</span>
        </div>
      </div>

      <div class="col" style="text-align: left;">
        <div class="form-group">
          <label for="exampleFormControlInput2">Cognome:</label>
          <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Cognome"
            formControlName="surname" (keypress)="keyPressAlpha($event)">
          <span *ngIf="candidateForm.get('surname').touched && candidateForm.get('surname').hasError('required')">Enter
            surname</span>
        </div>
      </div>

      <div class="col" style="text-align: left;">
        <div class="form-group">
          <label for="exampleFormControlInput1">Email:</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email"
            formControlName="email" >
          <span *ngIf="candidateForm.get('email').touched && candidateForm.get('email').hasError('required')">Inserisci
            email</span>
          <span *ngIf="candidateForm.get('email').touched && candidateForm.get('email').hasError('email')">Inserisci
            l'email correttamente</span>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <!--RIGA SKILL--------------------------------------------->
  <div>
    <div class="container">
      <div class="dati"><b>Inserisci info sul questionario:</b></div><br>
      <div class="row">

        <div class="col">
          <div>
            <mat-form-field appearance="fill" class="skill">
              <mat-label>Skill</mat-label>
              <mat-select [formControl]="skill" multiple>
                <mat-option *ngFor="let skill of skills | async" [value]="skill.id">{{skill.description}}</mat-option>
                <!-- <span *ngIf="candidateForm.get('skill').touched && candidateForm.get('skill').hasError('required')">Enter skill</span> -->
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--TABELLA LEGENDA E SENIORITY --------------------------------------------->
  <div class="container">
    <div class="row">

      <div class="col" style="text-align: left;">
        <div class="form-group">
          <div class="col" style="text-align: left;">
            <label for="exampleFormControlInput1"><b> Livello di seniority:</b></label>
            <div class="form-check">
              <div *ngFor="let seniority of seniorities | async" class="form-check">
                <input class="form-check-input" type="radio" id="{{seniority.id}}" value="{{seniority.id}}"
                  formControlName="idSeniority">
                <label class="form-check-label" for="{{seniority.id}}">
                  {{seniority.level}}
                </label>
                <span
                  *ngIf="candidateForm.get('idSeniority').touched && candidateForm.get('idSeniority').hasError('required')">Enter
                  idSeniority</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col" style="text-align: left;">
        <div class="form-group">
          <div>
            <label for="exampleFormControlInput1"><b>Legenda:</b></label>
          </div>
          <div *ngFor="let seniority of seniorities | async">
            <label for="exampleFormControlInput1"><b>{{seniority.level}}</b></label>
            <p>
              {{seniority.description}}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>

  <!--TASTO CONFERMA --------------------------------------------->
  <div class="container">
    <div class="row">

      <div class="col" style="text-align: center;">
        <div class="form-group">
        </div>
      </div>

      <div class="col" style="text-align: center;">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!candidateForm.valid || skill.value==null"
            data-toggle="modal" data-target="#exampleModal">
            Conferma
          </button>
          <!-- BANNER CONFERMA DATI ------------------------------------------------>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="exampleModalLabel">Dati salvati</h1>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  I dati sono stati salvati, quando sei pronto ad avviare il test fai click su "Conferma"<br>
                  Una volta iniziato il test, verrà avviato un timer. <br>
                  Allo scadere del tempo il candidato verrà reindirizzato alla pagina del risultato
                  e, le risposte non date, verranno calcolate come errate. <br>
                  Una volta iniziato il test non ci sarà la possibilità per il candidato di tornare indietro tra le domande. <br>
                  Il candidato sia quindi sicuro di una risposta prima di cliccare "avanti". <br>
                </div>
                <div class="grid-container">
                  <div>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="goToQuestionario()">MAIL</button>
                  </div>
                  <div>
                      <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="goToQuestionario()">TEST</button>
                      </div>
                      <div>
                          <button type="button" class="btn btn-primary" data-dismiss="modal"
                            (click)="goToQuestionario()">INZIA</button>
                          </div>
                            <!-- routerLink="/questionario" -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col" style="text-align: center;">
        <div class="form-group">
        </div>
      </div>

    </div>
  </div>
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>