
.modal-backdrop {
  background-color: red;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 2rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.skill {
  width: 31.5%;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.dati{
  font-size: medium;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1%;
  padding: 1%;
}
