body {
  position: relative;
  margin: 0;
  padding-bottom: 1rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
  background-color: rgb(248, 249, 250);
  margin-top: 2%;
  margin-bottom: 4%;
  height: 70vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}

.square {
  border-radius: 10px, 10px, 10px, 10px;
  height: 70%;
  width: 60%;
}

.posizioneBottone {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-70%, -50%);
  transform: translate(-70%, -50%);
  padding-bottom: 4%;
}

button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1.2;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #007BFF;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid #006FE6;
  cursor: pointer;
}

button:hover {
  background-color: #0063CC;
  border-color: #0056B3;
}

li {
  list-style: none;
}

.domanda {
  font-size: 22px;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

span {
  color: red;
}


.timer {
  background-color: #f8f9fa;
  padding: 1% 5%;
  border: 2px solid #6c757d;
  width: 18%;
  font-size: 200%;
  margin-left: 75%;
  text-align: center;
}