<form>
    <div class="container">
        <div class="square">
            <div>

                Una volta cliccato su "Conferma", partirà un timer da 30 minuti,
                allo scadere del tempo, non si potranno più effettuare modifiche,
                il software vi indirezzerà automaticamente ad un pagina con il risultato finale del test <br>
                <b> ATTENZIONE </b><br>
                Durante il questionario si visulizzerà una domanda per volta, quando essa verrà confermata tramite il
                bottone "avanti"
                non si avrà la possibilità di tornare alla domanda precedente.
                <br>
                Quando sei pronto ad avviare il test fai click su "Conferma"
            </div>
            <div class="posizioneBottone">
                <button type="submit" (click)="goToQuestionario()">INIZIA TEST</button>

            </div>
        </div>
    </div>
</form>