<form>
    <div class="container">
        <div class="square">
            <div>

                Una volta cliccato su "Inizia Test", partirà un timer da 30 minuti,
                allo scadere del tempo, non si potranno più effettuare modifiche.
                Il software vi indirezzerà automaticamente ad un pagina con il risultato finale del test <br><br><br>
                <b> ATTENZIONE </b><br>
                Durante il questionario verrà visualizzata una domanda alla volta, quando essa verrà confermata tramite il
                tasto conferma
                non si avrà la possibilità di tornare alla domanda precedente.
                <br><br><br>
                Quando sei pronto ad avviare il test fai click su "Inizia Test"
            </div>
            <div class="posizioneBottone">
                <button type="submit" (click)="goToQuestionario()">Inizia Test</button>

            </div>
        </div>
    </div>
</form>
