<!-- NAVBAR ------------------------------------------------------------->
  <div class="col"><nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img src="assets/img/logoImg.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Agency Questions
    </a>
  </nav>
</div>

<div class="row">
  <div class="col-sm"><br></div>
</div>


<router-outlet></router-outlet>

<!-- FOOTER ----------------------------------------------------------->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a> AgencyQuestions.com</a>
  </div>

</footer>

