<h1>CREATE SENIORITY</h1>
<form [formGroup]="seniorityForm" (ngSubmit)="save()">
    <div>
        <label for="description"><b>Level:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Level" formControlName="level">
    </div>
    <div>
        <label for="description"><b>Description:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Description"
            formControlName="description">
    </div>
    <div>
        <label for="description"><b>Minimal difficulty:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Minimal difficulty"
            formControlName="minDifficulty">
    </div>
    <div>
        <label for="description"><b>Maximum difficulty:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Maximum difficulty"
            formControlName="maxDifficulty">
    </div>
    <button type="submit">SAVE</button>
</form>