<h1>EDIT QUESTION</h1>
<form [formGroup]="questionForm" (ngSubmit)="save()">
    <div>
        <label><b>ID:</b></label>
        <div formControlName="id">{{ question.id }}</div>
    </div>
    <div>
        <label for="description"><b>difficulty:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Description" formControlName="difficulty">
    </div>
    <div>
        <label for="description"><b>Type:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Level" formControlName="type">
    </div>
    <div>
        <label for="description"><b>Question text:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Minimal difficulty"
            formControlName="questionText">
    </div>
    <div *ngIf="question.type!='vf'">
        <label for="description"><b>Correct answer:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Maximum difficulty"
            formControlName="correctAnswerText">
    </div>
    <div *ngIf="question.type=='vf'">
        <label for="description"><b>Correct answer:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Maximum difficulty"
            formControlName="correctAnswerBoolean">
    </div>
    <div *ngIf="question.type=='crocette'">
        <label for="description"><b>Wrong answers:</b></label>
        <input type="text" class="form-control" id="description" placeholder="Maximum difficulty"
            formControlName="wrongAnswers">
    </div>
    <button type="submit">SAVE</button>
</form>