<div class="parent">
    <div class="div1"><button class="btn" routerLink="../../admin/skill">SKILLS</button></div>
    <div class="div2"><button class="btn" routerLink="../../admin/question">QUESTION</button></div>
    <div class="div3"><button class="btn" routerLink="../../admin/seniority">SENIORITY</button></div>
    <div class="div4"><button class="btn" routerLink="../../admin/field">FIELD</button></div>
    <div class="div5"><button class="btn5" routerLink="../../admin/candidate">CANDIDATE</button></div>
</div>